<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Index</title>
	</head>

	<body>
		<p>This is index page.</p>
	</body>
</html>
